.header-main {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    margin: 10px 0 auto;
    padding: 0 4%;
}

.main-nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    list-style:none;
    font-size:16px; 
}

.main-nav li {
    margin: 10px;
}

.main-nav a { 
    color: #000;
    text-decoration: none;
}

.main-nav a:hover {
    color: #00BFFF;
}

.main-nav li:not(:last-child) a::after {
    content: "|";
    margin-left: 10px;
    color: #ccc;
    pointer-events: none;
}

hr {
    margin: 0;
}




