.weatherinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 70px;      
}

.tideform {
    display: flex;
    justify-content: center;
}

.tidedata {
    margin: 50px 0px;
    text-align: center;
}

.inputrange {
    margin-left: 3px;
    margin-right: 10px;
}

.tideform button {
    margin-left: 10px;
}

.space {
    margin-bottom : 250px;
}
